[submodule "remote/ogg"]
	path = remote/ogg
	url = https://github.com/xiph/ogg.git
[submodule "remote/vorbis"]
	path = remote/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "remote/freetype"]
	path = remote/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "remote/zlib"]
	path = remote/zlib
	url = https://github.com/madler/zlib.git
[submodule "remote/libzip"]
	path = remote/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "remote/luajit"]
	path = remote/luajit
	url = https://github.com/LuaJIT/LuaJIT
